.blogEntryForm {
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 1rem;
}
.blogEntryForm__header {
  font-size: var(--fontSizeExtraLarge);
  font-weight: var(--fontWeightThin);
}
.blogEntryForm__buttons {
  display: flex;
  gap: 1rem;
}
