body.app {
  display: grid;
  grid-template-areas: "header main" "menu main" "footer main";
  grid-template-columns: 17rem 1fr;
  grid-template-rows: min-content 1fr;
  min-height: 100vh;
  width: 100%;
}

@media screen and (max-width: 600px) {
  body.app {
    grid-template-areas: "header" "main" "menu" "footer";
    grid-template-columns: 1fr;
    width: 100vw;
  }
}
.blog {
  grid-area: main;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content;
  grid-gap: 3rem;
  background-color: var(--base03);
  color: var(--base0);
  padding: 2rem 3rem 1rem 3rem;
}

@media screen and (max-width: 600px) {
  .blog {
    padding: 1rem;
  }
}
