body {
    background-color: var(--colorPublicBackground);
}

.loginForm {
    display: grid;
    grid-gap: 1rem;
    grid-template-areas: "title" "form";
    background-color: var(--base2);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    height: min-content;
    width: max-content;
    padding: 3rem 5rem;
    border-radius: 10px;
    text-align: center;

    &__title {
        grid-area: title;
        font-size: 2rem;
        font-weight: 900;
    }

    &__form {
        display: grid;
        grid-gap: 0.5rem;
        grid-area: form;

        &--input {
            width: 100%;
            border: solid 1px var(--colorBody);
            border-radius: 5px;
            padding: 0.2rem 0.5rem;
            text-align: left;
        }

        &--label {
            font-weight: 900;
        }

        &--submit {
            margin-top: 0.5rem;
            padding: 0.8rem;
            color: var(--base2);
            background-color: var(--colorPrimary);
            border-radius: 10px;
        }
    }
}
