.rootErrorBoundary {
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr;

    &__header {
        font-size: var(--fontSizeExtraLarge);
        font-weight: var(--fontWeightThin);
    }

    &__message {
        font-size: var(--fontSizeLarge);
        font-weight: var(--fontWeightThin);
    }

    &stackTrace {
        border: 1px solid var(--colorBody);
        border-radius: 5px;
        font-family: var(--fontFamilyMonospace);
        white-space: pre-wrap;
        width: 100%;
        font-size: 20px;
    }
}
