.managementBlogMetaTagList__headerItem {
    border: solid 1px var(--colorBody);
    padding: 0.5rem;
}

.managementBlogMetaTagList__bodyItem {
    border: solid 1px var(--colorBody);
    padding: 0.5rem;
}
