.baseButton {
    padding: 1rem;
    color: var(--base3);
    border: 2px solid var(--base3);
    border-radius: 5px;
}

.baseButton__yellow {
    background-color: var(--yellow);
}
.baseButton__orange {
    background-color: var(--orange);
}
.baseButton__red {
    background-color: var(--red);
}
.baseButton__magenta {
    background-color: var(--magenta);
}
.baseButton__violet {
    background-color: var(--violet);
}
.baseButton__blue {
    background-color: var(--blue);
}
.baseButton__cyan {
    background-color: var(--cyan);
}
.baseButton__green {
    background-color: var(--green);
}
.baseButton__gray {
    background-color: var(--base01);
}
