.menuSectionArchives {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0.3rem;
}
.menuSectionArchives__legend {
  display: flex;
  gap: 0.4rem;
}
.menuSectionArchives__legend a {
  text-decoration: none;
  border: solid 1px var(--base0);
  padding: 0.3rem 0.4rem;
  width: fit-content;
  border-radius: 5px;
}
.menuSectionArchives__legend a:hover {
  color: var(--base0);
  background-color: var(--base3);
}
.menuSectionArchives__item--year {
  color: var(--base2);
  background-color: var(--base1);
}
.menuSectionArchives__item--month {
  background-color: var(--base2);
}
