.menuSectionOnlineActivities {
    flex-wrap: wrap;

    &__message {
        margin-bottom: 0.5rem;
    }

    &__items {
        @mixin itemMargin() {
            margin-bottom: 0.2rem;
        }

        dt {
            @include itemMargin;
            float: left;
            clear: left;
            margin-right: 0.3rem;

            &:before {
                content: "◦";
            }

            &:after {
                content: ":";
            }
        }
        dd {
            @include itemMargin;
            float: left;
        }
    }
}
