.theMenu {
  grid-area: menu;
  display: grid;
  height: min-content;
  grid-gap: 0.7rem;
}
.theMenu * {
  font-weight: var(--fontWeightThin);
}
@media screen and (max-width: 600px) {
  .theMenu * {
    font-weight: var(--fontWeightMobileThin);
  }
}
