:root {
    /*font family*/
    --fontFamilyContent: "Meiryo UI", sans-selif;
    --fontFamilyMonospace: "Cascadia Code", monospace;

    /*font size*/
    --fontSizeBase: 14px;

    --fontSizeFormLabel: 1.2rem;

    /*font weight*/
    --fontWeightFormLabel: 400;
}
