.theFooter {
    grid-area: footer;
    display: grid;
    grid-template-areas:
        "author"
        "icons";
    padding-bottom: 1rem;
    padding-left: 0.5rem;
    grid-gap: 0.5rem;

    &__author {
        grid-area: author;
    }

    &__icons {
        grid-area: icons;
        display: flex;

        & img {
            aspect-ratio: auto;
            height: 1.5rem;
        }
    }
}
